#login {
    font-size: 14px;
    text-align: left;
    position: absolute;
    top: 30%;
    left: 45%;
}

#home {
    font-size: 14px;
    text-align: left;
    position: absolute;
    top: 30%;
    left: 45%;
}